{% extends 'template.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sms-bomber.css')}}">
{% endblock %}

{% block body %}

<div class="warning">
    <div class="close_icon" onclick="removeWarning()">
        <i class="fa-solid fa-x"></i>
    </div>
    <div class="text">
        <div class="warning_icon">
            <i class="fa-solid fa-triangle-exclamation"></i>
        </div>
        <p>
            This tool is for fun purpose only. Try it as your own risk. Try if you have permission. We are not
            responsible
            for your actions.
        </p>
    </div>
</div>
<div class="container">

    <div class="smsbomber_area">
        <div class="icon">
            <i class="fa-solid fa-comment-sms" id="icon"></i>
        </div>

        <h3>SMS Bomber</h3>
        <form onsubmit="bomberApi(event)">
            <div class="phone_number">
                <div class="country_code">
                    +91
                </div>
                <div class="input">
                    <input type="text" name="number" maxlength="10" id="phone_number" placeholder="phone number" inputmode="numeric">
                </div>
                <div class="send_icon">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
            <div class="count_area">
                <div class="decrementar">
                    <i class="fa-regular fa-square-minus"></i>
                </div>
                <div class="input">
                    <input type="text" name="times" placeholder="count" value="5" id="count" inputmode="numeric">
                </div>
                <div class="incrementar">
                    <i class="fa-regular fa-square-plus"></i>
                </div>
            </div>
            <button type="submit" class="bomb">BOMB</button>
        </form>
    </div>


</div>

<script>

</script>
<script src="{{ url_for('static', filename='js/smsbomber.js')}}"></script>
{% endblock %}